$main-color: teal;
$secondary-color: darkslategrey;

.flex-container {
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: $main-color;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding: 1rem;
}

.activities {
  flex: 0;
  background-color: $secondary-color;
}

.about {
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .flex-container {
    flex-direction: column;
    height: auto;
  }
  .box {
    justify-content: center;
  }
  .activities {
    background-color: $main-color;
  }
  .home {
    background-color: $secondary-color;
  }
  .about {
    justify-content: center;
  }
}
