@import "colors.scss";
@import "mixins.scss";

body {
  @include reset-margin-padding;
  font-family: "Dancing Script";
  background: linear-gradient(-180deg, $bg-color, $bg-color-sec);
}

h2 {
  @include reset-margin-padding;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-color;
}

.container {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  display: grid;
  border: 2px solid black;
  background-color: $bg-color-card;
}

.item {
  padding: 0.5rem;
}

.photo {
  width: 100%;
}

.content {
  min-height: 150px;
}

.date {
  text-align: right;
  align-self: end;
  :nth-child(1) {
    font-weight: bold;
  }
  :nth-child(2) {
    color: $bg-color-emp;
  }
}

.more {
  align-self: end;
  button {
    width: 100%;
    height: 2.5rem;
    font-family: "Dancing Script";
    font-weight: bold;
    color: $font-color;
    background-color: $bg-color;
    border-radius: 1rem;
    &:hover {
      background-color: $bg-color-emp;
      cursor: pointer;
    }
  }
}
