@mixin shadow-type($top, $left, $blur) {
  box-shadow: $top $left $blur grey;
}

@mixin color-boxes($base, $important, $warning) {
  .base {
    background-color: $base;
  }

  .important {
    background-color: $important;
  }

  .warning {
    background-color: $warning;
  }
}

@mixin font-texts($principal, $secondary, $color) {
  .principal-font {
    font-family: $principal;
    border: 2px solid $color;
  }

  .secondary-font {
    font-family: $secondary;
    border: 2px solid $color;
  }
}

@mixin border-style($size) {
  border: 1px solid black;
  border-radius: $size;
}
