@import "colors.scss";
@import "mixins.scss";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 15rem;
  grid-template-rows: repeat(3, 6rem) repeat(2, 5rem) 6rem;
  grid-gap: 2rem;
  justify-content: center;
  font-size: 1.5rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@each $theme, $att in $themes {
  .theme-#{$theme} {
    .item {
      @include border-style(map-get($att, "radius-size"));
      font-family: map-get($att, "principal-font");
    }
    @include color-boxes(
      map-get($att, "color-base"),
      map-get($att, "color-important"),
      map-get($att, "color-warning")
    );
    @include font-texts(
      map-get($att, "principal-font"),
      map-get($att, "secondary-font"),
      map-get($att, "color-base")
    );
    .shadow {
      @include shadow-type(
        map-get($att, "top"),
        map-get($att, "left"),
        map-get($att, "blur")
      );
    }
  }
}

.click-me {
  margin: 1rem;
  button {
    padding: 1rem;
    // color: white;
    background-color: lightcoral;
    border-radius: 1rem;
    &:hover {
      background-color: pink;
      cursor: pointer;
    }
  }
}
